<nav class="navbar navbar-expand-lg data-bs-theme=dark" style="background-color: #0cddec;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user_details/">Lab Quest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user_details/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_details/add_user">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_details/verify_user">Verify User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>